<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/css/produtos.css">
  <body>
    <%- include('partials/navbar.ejs'); %>
    <section class="container">
      <h1>Produtos</h1>
      <hr>
      <div id="ListaProdutos">
        <% Array.from(produtos.data).forEach(produto => { %>
          <div class="card">
            <img src="<%= produto.imagens[1].url%>">
            <p class="cardTitulo"><%= produto.descricao %></p>
            <p class="price"> R$<%= produto.preco_venda %></p>
            <p><%= produto.um %></p>
            <a href="Carrinho">
              <p><button>Adicionar ao carrinho</button></p>
            </a>
          </div> 
      <% }) %>
      </div>
    </section>
  </body>
<%- include('partials/footer.ejs'); %>